.card {

    width: 71.5vw;
    height: 100vw;
    width: clamp(200px, 61vh, 100vw);
    height: clamp(280px, 85vh, 50vw);
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    border-radius: 5% / 3.5%;

    box-shadow: 
      -5px -5px 5px -5px var(--color1), 
      5px 5px 5px -5px var(--color2), 
      -7px -7px 10px -5px transparent, 
      7px 7px 10px -5px transparent, 
      0 0 5px 0px rgba(255,255,255,0),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
    
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    background-color: orangered;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center; 
    border: solid 10px;
    border-color: goldenrod;
  }
  
  .card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}


.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
    url(https://assets.codepen.io/13471/holo.png), 
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

